[user]
	name = datwaft
	email = datwaftx@gmail.com
	signingKey = CA543AC7BABF282D
[core]
	editor = nvim
[credential]
	helper = cache
[pull]
	rebase = false
[init]
	defaultBranch = main
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[commit]
	gpgsign = true
